.idea
cmake-build-debug
CMakeFiles
*.a
*.cbp
*.cmake
Demo
Makefile
.DS_Store
CMakeCache.txt
install_manifest.txt
*.dylib
*.pc
*.o
.vscode
examples/cmake/main
examples/meson/build
src/jdcloud_signer_test
Testing
*.filters
*.vcxproj
*.sln
*/Debug/
*.dir
*.swp
*.user
